.profile-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Adjust height as needed */
}

.profile-navigation-container {
    flex: 0 0 200px; /* Set the width of the navigation container */
    background-color: #f0f0f0; /* Optional: background color for better visibility */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: shadow for a subtle separation */
}

.profile-content-container {
    flex: 1; /* Take up the remaining space */
    padding: 20px; /* Optional: padding for content */
    background-color: #ffffff; /* Optional: background color */
}

/* Optional: Styling for navigation links */
.profile-navigation-link {
    margin: 10px; /* Space between navigation links */
}

.profile-navigation-link h1,
.profile-navigation-link h2 {
    margin: 0; /* Remove default margin */
    padding: 10px 10px; /* Padding for better clickability */
    cursor: pointer; /* Indicate that the items are clickable */
}

.profile-navigation-link h1:hover,
.profile-navigation-link h2:hover {
    background-color: lightgray; /* Change color on hover */
}
