.login-link {
    display: inline-block;
}
        
.login-link a {
    display: block;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.login-link a:hover {
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
}